@import '../../styles/normalize.scss';
@import '../../styles/variables/all.scss';

.registration-wrapper {
  height: 615px !important;

  .title {
    margin-top: 30px !important;
  }

  .buttons {
    margin-top: 62px !important;

    a {
      @include flex--center;

      width: 100%;
      height: 100%;
    }
  }
}
