@import '../../styles/variables/all.scss';

.save-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.save-password-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3369F3;
  color: #FFFFFF;
  width: 280px;
  height: 37px;
  font-family: "Inter-Regular";
  font-size: 13px;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.input-error {
  display: block;
  position: absolute;
  color: $color--red;
  font-family: 'Inter-Regular';
  font-size: 13px;
}

.hidden {
  display: none;
}

.input_wrapper {
  margin-bottom: 40px;
  border-bottom: 1px solid $color--border-gray;
}
