form(
  name= formName
  id= formId
)
  div.inputs
    //- Просто инпуты
    != loginIput
    != passwordInput
  div.buttons
    //- Просто кнопка
    != loginButton
    div.no-profile
      //- Просто якорь
      != noProfileAnchor