@import '../../styles/variables/all.scss';

.index__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: Inter-Regular;
  height: 98vh;

  @include flex--center;

  a {
    display: block;
    border: 1px solid $color--blue;
    border-radius: 8px;
    padding: 18px;
    margin: 10px 0;
    text-align: center;
    width: 200px;
    text-decoration: none;
  }
}
