@import "../styles/variables/fonts.scss";

body {
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: "Inter-Regular";
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

input:disabled {
  background: inherit;
}