include doctype.pug
head
  include headtemplate.pug
  link(rel='stylesheet' href='../styles/normalize.scss')
  link(rel='stylesheet' href='../styles/badrequest.scss')
body
  main
    .bad-request-wrapper
      h1 Неправильный запрос, попробуйте позже