head
  link(rel='stylesheet' href='../styles/normalize.scss')
  style.
    a {
      display: flex;
      flex-direction: column;
    }
body
  div#root
    a(href='login.pug') Login
    a(href='registration.pug') Registration
    a(href='main.pug') Chat
    //- script(src='../index.js' type='module')