include doctype.pug
head
  include headtemplate.pug
  link(rel='stylesheet' href='../styles/main.scss')
body
  main
    .main-wrapper
      section.chat-list-wrapper
        .head
          .profile Шапка
          .search Поиск
        .chat-list Список чатов
      section.chat-dialog-wrapper
        .head Название чата / пользователя
        .main Переписка
        .footer Ввод сообщения
