head
   link(rel='stylesheet' href='../styles/normalize.scss')
   style.
    .not-found-wrapper {
      margin: 10px;
    }
body
  main
    .not-found-wrapper
      h1 Запрашиваемая страница не найдена