include doctype.pug
head
  include headtemplate.pug
  link(rel='stylesheet' href='../styles/normalize.scss')
  link(rel='stylesheet' href='../styles/notfound.scss')
body
  main
    .not-found-wrapper
      h1 Запрашиваемая страница не найдена