//- include doctype.pug
head
  //- include headtemplate.pug
  link(rel='stylesheet' href='../styles/normalize.scss')
  link(rel='stylesheet' href='../styles/profile.scss')
body
  .profile-wrapper
    section.avatar
      .profile-avatar-image
      .profile-display-name Имя
    main
      section.profile-fields
        ul.profile-fields-list
          li.field-email
            span Почта
            input(type='email' id='email' name='email' disabled placeholder='pochta@yandex.ru')
          li.field-login
            span Логин
            input(type='text' id='login' name='login' disabled placeholder='ivanivanov')
          li.field-name
            span Имя
            input(type='text' id='first_name' name='first_name' disabled placeholder='Иван')
          li.field-surname
            span Фамилия
            input(type='text' id='second_name' name='second_name' disabled placeholder='Иванов')
          li.field-display-name
            span Имя в чате
            input(type='text' id='display_name' name='display_name' disabled placeholder='Иван')
          li.field-phone
            span Телефон
            input(type='tel' id='phone' name='phone' disabled placeholder='+7 (909) 967 30 30')
      section.change-profile
        ul.profile-buttons
          li.change-fields
            span.color-blue Изменить данные
          li.change-password
            span.color-blue Изменить пароль
          li.logout
            span.color-red Выйти