form(
  name= formName
  id= formId
)
  div.inputs
    != inputMail
    != inputLogin
    != inputName
    != inputSurname
    != inputPhone
    != inputPassword
    != inputPasswordRepeat
  div.buttons
    != buttonRegister
    div.no-profile
      != anchorLogin