.main-wrapper
  section.chat-list-wrapper
    .head
      .profile
        != profile
      .search Поиск
    .chat-list
      ul
        != dialogs
  section.chat-dialog-wrapper
    div
      != chatHead
    .main
      != messagesList
    div
      != chatFooter
    //- .footer
    //-   .footer-add-file
    //-   .footer-message
    //-     input(
    //-       type='text'
    //-       placeholder='Сообщение'
    //-     )
    //-   .footer-send
