/* BLUE */
$color--blue: #3369f3;

/* WHITE */
$color--white: #fff;

/* GRAY */
$color--gray: #e5e5e5;
$color--light-gray: #fbfbfb;
$color--border-gray: #eaeaea;
$color--basic-gray: #efefef;
$color--gray-main: #999;
$color--gray-active: #e4edfd;
$color--gray-message: #f8f8f8;

/* RED */
$color--red: #f00;

/* BLACK */
$color--black-special: #1e1e1e;
