/* BLUE */
$color--blue: #3369F3;

/* WHITE */
$color--white: #FFFFFF;

/* GRAY */
$color--gray: #E5E5E5;
$color--light-gray: #FBFBFB;
$color--border-gray: #EAEAEA;
$color--basic-gray: #EFEFEF;

/* RED */
$color--red: #FF0000;
