@font-face {
  font-family: 'Inter-Regular';
  src: url('./fonts/inter/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('./fonts/inter/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./fonts/inter/Inter-Bold.ttf');
}