@import '../../styles/variables/all.scss';

.error-page-wrapper {
  @include flex--center;

  width: 100%;
  height: 98vh;
  flex-direction: column;

  span,
  a {
    display: block;
    margin-bottom: 15px;
    font-family: Inter-Regular;
    font-size: 24px;
    text-decoration: none;
  }
}
